html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Roboto Mono', monospace;
    display: flex;
    flex-direction: column;
    padding-top: 75px;
    padding-left: 50px;
    padding-right: 50px;
    justify-content: flex-start;
    text-align: left;
    min-height: 100vh;
    background-color:rgb(255, 255, 255);
    background-image:
    radial-gradient(at 100% 0%, rgb(100, 150, 255) 0px, transparent 25%),
    radial-gradient(at 100% 25%, rgb(255, 100, 100) 0px, transparent 25%),
    radial-gradient(at 100% 50%, rgb(100, 150, 255) 0px, transparent 25%),
    radial-gradient(at 100% 75%, rgb(255, 255, 100) 0px, transparent 25%),
    radial-gradient(at 100% 100%, rgb(255, 100, 100) 0px, transparent 25%);
    background-size: 110% 110%;
    background-repeat: repeat;
    animation: moveGradient 5s linear infinite;
}

@keyframes moveGradient {
    0% { background-position: 0 0; }
    25% { background-position: 50% 50%; }
    50% { background-position: 100% 100%; }
    75% { background-position: 50% 50%; }
    100% { background-position: 0 0; }
}

.container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 80%;
}

h1 {
    font-size: 24
}

h2 {
    font-size: 18
}

h3 {
    font-size: 14
}

section {
    min-height: 100vh;
    border-bottom: 1px solid #ccc;
    width: 80%;
    padding-bottom: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0;
    border-bottom: 1px solid #ccc;
}

a {
    text-decoration: none;
    color: #007BFF;
}

a:hover {
    color: #ff0000;
}

#myBtn {
    font-family: 'Roboto Mono', monospace;
    font-size: 14px;
    display: none; 
    position: fixed;
    bottom: 30px;
    right: 30px;
    z-index: 99;
    border: none;
    outline: none;
    fill: #7777;
    background-color: #7777;
    color: rgb(0, 0, 0);
    cursor: pointer;
    padding: 10px;
    border-radius: 10px;
  }
  
  #myBtn:hover {
    background-color: #ffff;
  }