body {
  font-family: "Inter Tight", sans-serif;
  font-weight: 200;
  display: flex;
  justify-content: center;
  padding-left: 25px;
  padding-right: 25px;
  text-align: left;
  align-items: flex-start;

  background-color: white;
  background-image:
    radial-gradient(at 100% 0%, rgb(100, 150, 255) 0px, transparent 25%),
    radial-gradient(at 100% 25%, rgb(255, 100, 100) 0px, transparent 25%),
    radial-gradient(at 100% 50%, rgb(255, 255, 100) 0px, transparent 25%),
    radial-gradient(at 100% 75%, rgb(100, 150, 255) 0px, transparent 25%),
    radial-gradient(at 100% 100%, rgb(255, 100, 100) 0px, transparent 25%);
  background-size: 110% 110%;
  background-repeat: repeat;
  animation: move-gradient-bg 5s linear infinite;
}

@keyframes move-gradient-bg {
  0% {background-position: 0 0;}
  25% {background-position: 0 50%;}
  50% {background-position: 0 100%;}
  75% {background-position: 0 50%;}
  100% {background-position: 0 0;}
}

section {
  min-height: 100vh;
  border-bottom: 1px solid #ccc;
  padding-bottom: 50px;
  padding-top: 20px;
  z-index: 2;
}

.section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

#main-container {
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 700px;
  width: 90vw;
}

.header {
  z-index: 2;
  font-size: 25px !important;
}

.gradient-text {
  background-image: linear-gradient(30deg, rgb(100, 150, 255), rgb(255, 100, 100));
  background-size: 100%;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-text-fill-color: transparent;
  font-weight: 700 !important;
}

.icon-bg img#header-icon {
  display: flex;
  position: fixed;
  z-index: 1;
  top: 100px;
  right: -25px;
  transform: translate(-50%, -50%);
  width: 100px;
  animation: rotate-icon 20s linear infinite;
}

@keyframes rotate-icon {
  from {transform: translate(-50%, -50%) rotate(0deg);}
  to {transform: translate(-50%, -50%) rotate(360deg);}
}

#link-list ul {
  list-style-type: none;
  padding: 0;
}

#link-list li {
  margin-top: 20px;
  border-bottom: 1px solid #ccc;
}

#back-to-top-container {
  position: absolute;
}

#back-to-top-button {
  font-family: "Inter Tight", sans-serif;
  font-size: 20px;
  text-decoration: none;
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 90px;
  z-index: 99;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 15%;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#back-to-top a {
  text-decoration: none;
}

#back-to-top-button:hover {
  background-color: lightgrey;
}

#nav-container {
  position: absolute;
}

#nav-button {
  font-family: "Inter Tight", sans-serif;
  font-size: 25px;
  display: flex;
  position: fixed;
  bottom: 30px;
  right: 30px;
  z-index: 99;
  cursor: pointer;
  width: 50px;
  height: 50px;
  border-radius: 15%;
  border: none;
  outline: none;
  justify-content: center;
  align-items: center;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#nav-menu {
  display: none;
  position: fixed;
  bottom: 90px;
  right: 30px;
  width: 160px;
  border-radius: 15px;
  border-bottom-right-radius: 0px;
  z-index: 100;
  background-color: white;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

#nav-menu ul {
  list-style-type: none;
  margin-left: 10px;
  padding: 0;
}

#nav-menu li {
  margin-top: 10px;
  border-bottom: 1px solid #ccc;
}

#nav-menu ul li a {
  text-decoration: none;
  font-family: "Inter Tight", sans-serif;
  font-weight: 400;
  color: grey;
}

#nav-manu ul li a:hover {
  background-color: lightgrey;
}

#nav-button:hover {
  background-color: lightgrey;
}
